/*! HTML5 Boilerplate v6.0.1 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

::selection {
    background: black;
    color: white;
    text-shadow: none;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: black;
    color: white;
    text-shadow: none;
}

::selection {
    background: black;
    color: white;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

//Make button say click to start generating ideas at the beginning. centered and big
//Create log
//unload unused fonts

$FontStack: 'Roboto', Helvetica, sans-serif;
$MainYellow: #fec108;
$SecondaryYellow: #dea808;
$TertiaryYellow: #ffecb2;


body {
    font-family: $FontStack;
    background-image: url('../img/napkin.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
    background-color: $MainYellow;
}

header {
    width: 60%;
    left: 50%;
    transform: translate(-50%);
    position: relative;
    padding-top: 50px;
    max-width: 700px;
    min-width: 330px;

    #logo {
        width: 100%;
    }

    #banner {
        width: 100%;

        transform: rotate(3deg);
        position: relative;
        margin-top: -16px;
    }
}

#maincontainer {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    padding: 0 30px;
    box-sizing: border-box;
    top: 0;

    #label {
        margin: 0;
        font-family: $FontStack;
        font-weight: 700;
        font-size: 3rem;
        text-align: center;
        line-height: 3.15rem;
        text-shadow: rgb(243, 240, 233) 2px 0px 0px, rgb(243, 240, 233) 1.75517px 0.958851px 0px, rgb(243, 240, 233) 1.0806px 1.68294px 0px, rgb(243, 240, 233) 0.141474px 1.99499px 0px, rgb(243, 240, 233) -0.832294px 1.81859px 0px, rgb(243, 240, 233) -1.60229px 1.19694px 0px, rgb(243, 240, 233) -1.97998px 0.28224px 0px, rgb(243, 240, 233) -1.87291px -0.701566px 0px, rgb(243, 240, 233) -1.30729px -1.5136px 0px, rgb(243, 240, 233) -0.421592px -1.95506px 0px, rgb(243, 240, 233) 0.567324px -1.91785px 0px, rgb(243, 240, 233) 1.41734px -1.41108px 0px, rgb(243, 240, 233) 1.92034px -0.558831px 0px;
    }
}

button {
    font-family: $FontStack;
    background-color: #FFC107;
    border: 2px solid black;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1.2rem;
    font-weight: 700;
    text-transform: uppercase;
    cursor: pointer;
    transition: all 100ms ease-in-out;
    max-height: 56px;

    &:hover {
        background-color: black;
        color: #FFC107;
    }
}

#buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    bottom: 20vh;

    #newIdeaBtn {

    }

    #settingsBtn {
        margin-left: -2px;
        padding: 13px 15px;
        background-color: $SecondaryYellow;

        img {
            width: 26px;
        }

        &:hover {
            background-color: $TertiaryYellow;
        }
    }

    #logBtn {
        margin-right: -2px;
        padding: 13px 15px;
        background-color: $SecondaryYellow;

        img {
            width: 26px;
        }

        &:hover {
            background-color: $TertiaryYellow;
        }
    }

}

.rotate-anim{
    animation: animationFramesR linear .2s;
    transform-origin: 50% 50%;
}

.scale-anim{
    animation: animationFramesS ease-in-out .2s;
    transform-origin: 50% 50%;
}

#logPanel, #settings {
    padding: 40px 0;
    display: none;
    width: 100vw;
    min-height: 100vh;
    position: absolute;
    box-sizing: border-box;
    top: 0;

    #closeLogBtn, #closeSettingsBtn {
        left: 50%;
        transform: translate(-50%);
        position: relative;
    }

    #closeSettingsIcon, #closeLogIcon {
        width: 30px;
        position: fixed;
        top: 20px;
        right: 20px;
        cursor: pointer;
        transition: all 200ms ease-out;

        &:hover {
            transform: scale(1.15);
        }
    }

    h3 {
        font-size: 4rem;
        margin: 0;
        text-align: center;
    }

    p {
        margin: 0;
        text-align: center;
    }

}

#logPanel {
    background: white;
    color: black;
    padding: 40px 0 0 0;

    #closeLogBtn {
        background-color: black;
        color: white;
        position: fixed;
        bottom: 20px;
        right: 20px;
        left: initial;
        transform: none;
        box-shadow: 0 0 7px 0px #00000059;

        &:hover {
            background-color: $SecondaryYellow;
            color: black;
        }
    }

    #ideasGeneratedText{
        margin: 20px 0;

        #ideasGeneratedLabel {
            font-weight: 700;
            font-size: 1.2rem;
        }
    }

    #log {
        margin-top: 20px;

        p {
            margin: 0;
            text-align: left;
            padding: 15px 22px;
            box-shadow: 0px -2px 7px 0px rgba(0,0,0,0.28);
            transition: all 150ms ease-in-out;
            cursor: pointer;

            &:hover {
                padding: 15px 22px 15px 40px;
                font-weight: 700;
            }

            &:nth-of-type(even) {
                background-color: $MainYellow;
                color: black;
            }

            &:nth-of-type(odd) {
                background-color: $SecondaryYellow;
                color: black;
            }
        }
    }
}

#settings {
    background: $MainYellow;
    color: black;
    
    #closeSettingsBtn {
        background-color: $TertiaryYellow;
        color: black;

        &:hover {
            background-color: black;
            color: #FFC107;
        }
    }

    .settingsrow {
        overflow: auto;
        margin: 0 20px 20px 30px;

        &:first-of-type {
            margin-top: 30px;
        }

        h2 {
            margin: 0;
            font-weight: 700;

            span {
                border-bottom: 3px dotted rgba(0, 0, 0, 0.4);
                color: rgba(0, 0, 0, 0.8);
                padding-bottom: 3px;
                font-weight: 300;
            }

        }

        p {
            float: left;
            margin: 10px 0 0 0;
            color: rgba(0, 0, 0, 0.6);
            padding: 0;
            text-align: left !important;
        }
    }

    #closeSettingsBtn {
        background-color: $TertiaryYellow;
        color: black;
        left: 50%;
        transform: translate(-50%);
        position: relative;

        &:hover {
            background-color: black;
            color: #FFC107;
        }
    }

    #closeSettingsIcon {
        width: 30px;
        position: fixed;
        top: 20px;
        right: 20px;
        cursor: pointer;
        transition: all 200ms ease-out;

        &:hover {
            transform: scale(1.15);
        }
    }

    #credits {
        width: 100vw;
        margin-top: 40px;

        p {
            margin-bottom: 12px;
        }

        a {
            font-weight: 700;
            color: #212020;
            text-decoration: none;
            border-bottom: 2px solid black;
            text-shadow: rgb(254, 193, 8) 3px 0px 0px, rgb(254, 193, 8) 2.83487px 0.981584px 0px, rgb(254, 193, 8) 2.35766px 1.85511px 0px, rgb(254, 193, 8) 1.62091px 2.52441px 0px, rgb(254, 193, 8) 0.705713px 2.91581px 0px, rgb(254, 193, 8) -0.287171px 2.98622px 0px, rgb(254, 193, 8) -1.24844px 2.72789px 0px, rgb(254, 193, 8) -2.07227px 2.16926px 0px, rgb(254, 193, 8) -2.66798px 1.37182px 0px, rgb(254, 193, 8) -2.96998px 0.42336px 0px, rgb(254, 193, 8) -2.94502px -0.571704px 0px, rgb(254, 193, 8) -2.59586px -1.50383px 0px, rgb(254, 193, 8) -1.96093px -2.27041px 0px, rgb(254, 193, 8) -1.11013px -2.78704px 0px, rgb(254, 193, 8) -0.137119px -2.99686px 0px, rgb(254, 193, 8) 0.850987px -2.87677px 0px, rgb(254, 193, 8) 1.74541px -2.43999px 0px, rgb(254, 193, 8) 2.44769px -1.73459px 0px, rgb(254, 193, 8) 2.88051px -0.838247px 0px;
            transition: all 75ms ease-out;

            &:hover {
                background: black;
                color: $MainYellow;
                text-shadow: none;
                padding: 0px 2px;
                margin: 0 -2px;
            }
        }
    }

    h3 {
        font-size: 4rem;
        margin: 0;
        text-align: center;
    }

    p {
        margin: 0;
        text-align: center;
    }

    #permutationstext{
        margin-top: 40px;
        margin-bottom: 30px;

        #permutationslabel {
            font-weight: 700;
            font-size: 1.2rem;
        }
    }

    #floater {
        display: none;
        width: 14vw;
        max-width: 200px;
        min-width: 100px;
        left: 25px;
        bottom: 25px;
        position: absolute;
        transition: all 100ms ease-in-out;

        img {
            width: 100%;
        }

        &:hover {
            transform: scale(1.1) rotate(-20deg);
        }
    }

}

.check {
    width: 60px;
    height: 60px;
    float: left;
    margin-right: 20px;
  
  input {
    display: none;
    &:checked + .box {
      background-color: #ffdb6d;
      
      &:after {
        top: 0;
      }
    }
  }
  
  .box {
    width: 100%;
    height: 100%;
    transition: all 0.6s cubic-bezier(.19,1,.22,1);
    border: 2px solid transparent;
    background-color: $TertiaryYellow;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    box-shadow: 0 0px 11px 0px rgba(0, 0, 0, 0.2);

    &:after {
      width: 50%;
      height: 20%;
      content: '';
      position: absolute;
      border-left: 7.5px solid;
      border-bottom: 7.5px solid;
      border-color: #292402;
      transform: rotate(-45deg) translate3d(0,0,0);
      transform-origin: center center;
      transition: all 0.6s cubic-bezier(.19,1,.22,1);
      left: 0;
      right: 0;
      top: 200%;
      bottom: 5%;
      margin: auto;
    }
  }
}


@keyframes animationFramesR{
  0% {
    transform:  rotate(3deg) ;
  }
  50% {
    transform:  rotate(0deg) ;
  }
  100% {
    transform:  rotate(3deg) ;
  }

}

@keyframes animationFramesS{
  0% {
    transform:  scale(1);
  }
  50% {
    transform:  scale(1.15) ;
  }
  100% {
    transform:  scale(1) ;
  }

}

@media only screen and (max-width: 650px) {

    #maincontainer {
        
        #label {
        font-size: 2.5rem;
        line-height: 2.75rem;
        }
    }

    #buttons {
        bottom: 0;
        position: absolute;
        width: 100vw;
        left: initial;
        transform: none;

        button {
            max-height: unset;
            min-height: 90px;
        }
    }

    #newIdeaBtn {
        width: 60%;
    }

    #settingsBtn {
        width: 20%;
    }

    #logBtn {
        width: 20%;
    }

    #settings {

        p, h3 {
            padding: 0 10px;
        }
    }
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    -webkit-clip-path: inset(50%);
    clip-path: inset(50%);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap; /* 1 */
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    -webkit-clip-path: none;
    clip-path: none;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
    white-space: inherit;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre {
        white-space: pre-wrap !important;
    }
    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}